{% extends 'layouts/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="relative">
    <div class="relative ml-10 mt-6 h-full p-3 w-11/12 shadow rounded-xl">
        <h6 class="relative pl-2 w-4/5 text-blue-500 text-xl">Gestionar usuario</h6>


        <form action="{% url 'insertar_usuario' %}" autocomplete="off" method="POST">
            {% csrf_token %}

            <div class="grid grid-cols-3 space-x-2 ">
                {{ usuario_form | crispy }}
                <div class="col-start-2 col-span-1 flex flex-row">
                    <label class="flex"  id="label-meter">Fortaleza de la contraseña:  </label>
                    <label class="flex ml-2"  id="password-meter"></label>
                </div>
            </div>

            <div class="flex flex-wrap space-x-12 block mt-6">
                <div class="flex w-full justify-end">
                    <input type="submit" value="Insertar" class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]" >
                </div>
            </div>
        </form>
    </div>



    <div class="relative ml-10 mt-6 h-full p-3 w-11/12 shadow rounded-xl">
        <div class="relative h-full">
            <h6 class="pl-2 text-blue-500 text-xl">Listado de usuarios</h6>
        </div>

        {% if filter %}
        <form action="/home/usuarios/" method="get" class="ml-10 form space-x-4 form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
        {% endif %}

        <div class="ml-10 mt-4 relative">
            {% render_table table "includes/table.html" %}
        </div>

    </div>
    {% if errors %}
    <script>
        let num = 1

        Swal.fire({
        title: 'Error al registrar',
        confirmButtonText: 'Aceptar',
        html: `<ul>` +
        {% for field, error in errors.items %}
        `<li> {{ error|join:" " }}</li>` +
        {% endfor %}
        `</ul>`,
            icon: 'error'
        });
    </script>
    {% endif %}

    {% if added and not errors %}
    <script>
        Swal.fire({
            icon: "success",
            title: "El usuario ha sido creado",
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% endif %}

    {% if deleted and not errors %}
    <script>
        Swal.fire({
            icon: "success",
            title: "El usuario ha sido eliminado",
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% endif %}

    {% if edited and not errors %}
    <script>
        Swal.fire({
            icon: "success",
            title: "El usuario ha sido editado",
            showConfirmButton: false,
            timer: 1500
        });
    </script>
    {% endif %}

    {% block extrastyle %}

    <link href="{% static 'assets/css/ajax_datatable_style.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/jquery.dataTables.min.css' %}" />

    {% endblock extrastyle %}

    {% block extrajs %}

    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/utils.js' %}"></script>
    <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'assets/js/sweet_alert2.js' %}"></script>

    <script>
        const btnsDelete = document.querySelectorAll(".btn-danger")
        const ths = document.querySelectorAll("th")
        const tds = document.querySelectorAll("td")
        const trs = document.querySelectorAll("tr")
        const passwordinput = document.querySelector("#id_password1")
        const meter = document.querySelector("#password-meter")

        input_string = passwordinput.value
        passwordinput.addEventListener("keyup", function(e)  {
            input_string = passwordinput.value
            const n = input_string.length;
            // Checking lower alphabet in string
            let hasLower = false;
            let hasUpper = false;
            let hasDigit = false;
            let specialChar = false;
            const normalChars = "abcdefghijklmnñopqrstuvwxyzABCDEFGHIJKLMNÑOPQRSTUVWXYZ1234567890 ";

            for (let i = 0; i < n; i++) {
                if (input_string[i] >= "a" && input_string[i] <= "z") {
                    hasLower = true;
                }
                if (input_string[i] >= "A" && input_string[i] <= "Z") {
                    hasUpper = true;
                }
                if (input_string[i] >= "0" && input_string[i] <= "9") {
                    hasDigit = true;
                }
                if (!normalChars.includes(input_string[i])) {
                    specialChar = true;
                }
            }

            // Strength of password
            let strength = "Débil";
            if (hasLower && hasUpper && hasDigit && specialChar && n >= 8) {
                strength = "Fuerte";
            } else if (( hasUpper || specialChar) && hasLower && hasDigit && n >= 5) {
                strength = "Moderada";
            }
            meter.textContent = `${strength}`

            switch (strength) {
                case "Débil":
                    meter.style.color = 'red'; // Change color to red for "Débil"
                    break;
                case "Moderada":
                    meter.style.color = 'orange'; // Change color to orange for "Moderada"
                    break;
                case "Fuerte":
                    meter.style.color = 'green'; // Change color to green for "Fuerte"
                    break;
            }



        })

        ths.forEach(function(element) {
            element.style.border = '2px solid #007bff';
        });
        tds.forEach(function(element) {
            element.style.border = '1px solid #007bff';
            element.style.textAlign = 'center';

        });

        trs.forEach(function(element) {
            element.style.border = '1px solid #007bff';
        });


        btnsDelete.forEach((btn) => {
            btn.style.padding = "5px";
            btn.style.backgroundColor = "red";
            btn.style.borderRadius = "5px";
            btn.style.borderWidth = "inherit";
            btn.style.borderColor = "red";
            btn.style.margin = "inherit";
            btn.style.color = "white";

            btn.addEventListener("click", function(e) {
                e.preventDefault();
                delete_alert("¿Desea eliminar a " + btn.name +"?", e);
            })
        })




    </script>



    {% endblock extrajs %}



    {% endblock content %}