{% load static %}

<!-- sidenav  -->
<aside class="bg-gray-200 max-w-62.5 h-dvh ease-nav-brand z-990 fixed inset-y-0 my-0 ml-0 block w-full -translate-x-full flex-wrap items-center justify-between overflow-y-auto  border-0 p-0 antialiased shadow-none transition-transform duration-200 xl:left-0 xl:translate-x-0 ">
  <div class="h-15.5">
    <i class="absolute top-0 right-0 hidden p-4 opacity-50 cursor-pointer fas fa-times text-slate-400 xl:hidden" sidenav-close></i>
    <a class="block px-4 py-0 m-0 text-sm whitespace-nowrap text-slate-700" href="{% url 'index' %}">
      <img src="{% static 'assets/img/LOGO-INTERAUDIT-PNG.png' %}" class="inline h-full max-w-full transition-all duration-200 ease-nav-brand max-h-12" alt="main_logo" />
      <span class="ml-1 font-semibold transition-all duration-200 ease-nav-brand">Interaudit</span>
    </a>
  </div>

  <hr class="h-px mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/40 to-transparent" />

  <div class="items-center block w-auto max-h-screen overflow-auto grow basis-full">
    {% include 'includes/menu-list.html' %}
  </div>

</aside>

<!-- end sidenav -->